nav.main {
  background-color: #001a26bf;
  box-shadow: 0 0 50px black;
}

nav.main ul {
  padding: 0;
  display: flex;
}

nav.main ul li {
  list-style: none;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
}

nav.main ul li:first-child{
  justify-content: flex-start;
}

nav.main li img {
  max-width: 150px;
  height: auto;
}

nav.main ul li a {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}

nav.main ul li a:hover {
  color: #00b7ff;
}